<toaster-container></toaster-container>
<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="RegisterCtrl" style="padding-top:200px;">
    <div>
        <div style="margin-bottom:30px;">
            <img src="../img/Grupo Performance Consultoria & Assessoria - fundo branco.png" style="width:250px;" />
        </div>
        <form class="m-t" role="form" name="registerForm" ng-submit="cadastrar(user);">
            <div class="form-group">
                <select class="form-control" name="tipo" id="tipo" ng-model="tipo" ng-options="t.tipo as t.nome for t in tipos"></select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CPF" ng-model="user.CpfCnpj" ng-if="tipo == 'PF'" ui-br-cpf-mask>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CNPJ" ng-model="user.CpfCnpj" ng-if="tipo == 'PJ'" ui-br-cnpj-mask>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" ng-model="user.Nome">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail" ng-model="user.Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" ng-model="user.Senha">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha de confirmacao" ng-model="user.SenhaConfirmacao">
            </div>
            <button type="submit" class="btn btn-success block full-width m-b">Cadastrar</button>
        </form>
    </div>
</div>