<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consolidação Relatório de Gastos</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Inicio</a>
            </li>
            <li>
                <a>Relatórios</a>
            </li>
            <li class="active">
                <strong>Consolidado</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row" ng-controller="ConsolidadoCtrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <br/>
            <div class="col-md-1">
                <input type="text" class="form-control input-sm" ng-model="dtProcessamento" placeholder="Data de processamento" style="width: 130px;" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="btnGerar(dtProcessamento);"><i class="fa fa-download"></i> Gerar relatório</button>
            </div>
            <!--<div class="col-md-6">
                <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="btnMontarLayout()"><i class="fa fa-download"></i> Montar layout</button>
            </div>-->
        </div>
    </div>
</div>