<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Importação de JVs</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Inicio</a>
            </li>
            <li>
                <a>Relatórios</a>
            </li>
            <li class="active">
                <strong>Importação</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Importacao2Ctrl" dw-loading="load" dw-loading-options="{text: 'Carregando...'}">
    <div class="tabs-container">
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading>
                    Arquivos Pendentes <span style="width: 25px;" class="badge badge-primary">{{eDigitacao.length}}</span>
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <form>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="btn btn-sm btn-outline btn-success btn-rounded" type="file" id="files" name="files" ng-model="files" multiple bind-file="">
                                    </div>
                                    <div class="col-md-1">
                                        <!--<select class="form-control" ng-class="{'erro-layout': erro}" ng-model="layout"
                                                style="border-radius: 20px !important; width: 140px; margin-bottom: 5px;">
                                            <option ng-repeat="layout in lstTipoLayout"
                                                    ng-selected="{{layout.value == 0}}"
                                                    value="{{layout.value}}" ng-click="sel(layout);">
                                                {{layout.descricao}}
                                            </option>
                                        </select>-->
                                        <select class="form-control" ng-model="layout" ng-options="p.descricao as p.descricao for p in lstTipoLayout"
                                                ng-change="sel(layout);" style="border-radius: 20px !important; width: 140px; margin-bottom: 5px;">
                                            <option value="" selected>Selecione..</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="upload()"><i class="fa fa-upload"></i> Enviar arquivos</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-sm btn-outline btn-primary btn-rounded" style="float:right" type="button" ng-click="liberarTodos()"><i class="fa fa-unlock-alt"></i> Liberar todos</button>
                                    </div>
                                </div>
                            </form>

                            <!--<button class="btn btn-sm btn-outline btn-primary btn-rounded" style="float:right" type="button" ng-click="novo()"><i class="fa fa-file-excel-o"></i> Processar arquivos liberados</button>-->


                            <div class="ibox-title bg-success">
                                <h5>Relatório - <strong>Importação</strong></h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nome Arquivo</th>
                                                <th>Liberado para importação</th>
                                                <th>Importado</th>
                                                <th>Mês competência</th>
                                                <th>Data Upload</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="l in lst">
                                                <td>{{ l.id }}</td>
                                                <td>{{ l.nomeArquivo }}</td>
                                                <td>
                                                    <i ng-show="l.liberadoGeracao == true" class="fa fa-check text-navy"></i>
                                                    <i ng-show="l.liberadoGeracao == false" class="fa fa-times text-danger"></i>
                                                </td>
                                                <td>
                                                    <i ng-show="l.importado == true" class="fa fa-check text-navy"></i>
                                                    <i ng-show="l.importado == false" class="fa fa-times text-danger"></i>
                                                </td>
                                                <td>{{ l.mesCompentencia }}</td>
                                                <td>{{ l.dataUpload | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                                <td>
                                                    <button ng-show="l.liberadoGeracao" class="btn btn-sm btn-outline btn-primary btn-rounded" type="button" ng-click="importar(l)" ng-disabled="l.importado"><i class="fa fa-file-excel-o"></i> Importar</button>
                                                    <button ng-show="!l.liberadoGeracao" class="btn btn-sm btn-outline btn-primary btn-rounded" type="button" ng-click="liberar(l)"><i class="fa fa-unlock-alt"></i> Liberar</button>
                                                    <button ng-show="l.liberadoGeracao" class="btn btn-sm btn-outline btn-danger btn-rounded" type="button" ng-click="liberar(l)"><i class="fa fa-lock"></i> Bloquear</button>
                                                    <button class="btn btn-sm btn-outline btn-danger btn-rounded" type="button" ng-click="excluir(l)"><i class="fa fa-trash"></i> Excluir</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Arquivos Importados
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <!--<button class="btn btn-sm btn-outline btn-primary btn-rounded" style="float:right" type="button" ng-click="novo()"><i class="fa fa-file-excel-o"></i> Processar arquivos liberados</button>-->
                            <div class="ibox-title bg-success">
                                <h5>Relatório - <strong>Importação</strong></h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nome Arquivo</th>
                                                <th>Liberado para importação</th>
                                                <th>Importado</th>
                                                <th>Mês competência</th>
                                                <th>Data Upload</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="l in lstImportados">
                                                <td>{{ l.id }}</td>
                                                <td>{{ l.nomeArquivo }}</td>
                                                <td>
                                                    <i ng-show="l.liberadoGeracao == true" class="fa fa-check text-navy"></i>
                                                    <i ng-show="l.liberadoGeracao == false" class="fa fa-times text-danger"></i>
                                                </td>
                                                <td>
                                                    <i ng-show="l.importado == true" class="fa fa-check text-navy"></i>
                                                    <i ng-show="l.importado == false" class="fa fa-times text-danger"></i>
                                                </td>
                                                <td>{{ l.mesCompentencia }}</td>
                                                <td>{{ l.dataUpload | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
